<div class="well well-sm">
    <h4><strong>Posts</strong></h4>
</div>
<div id="products" class="row">
    <div class="item col-xs-12 col-lg-4 col-md-6 col-sm-6" *ngFor="let post of posts" routerLink="/post/{{this.post.id}}">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
            <div class="caption">
                <h4 class="group inner list-group-item-heading">
                        {{this.post.title}}</h4>
                <p class="group inner list-group-item-text">
                    {{this.post.body}}</p>
            </div>
        </div>
    </div>
</div>
